{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<a href="{{ path('produits_show', { 'id': produit.id }) }}">{{ produit.nom }}</a>
		</h3>
	</div>
	<div class="panel-body center-block">
		<img class="img-responsive img-thumbnail center-block" alt=""
			src="{{ asset('bundles/test/img/') }}{{ produit.photo }}">
	</div>
	<div class="panel-footer clearfix">
		{{ produit.prix }}
		€
		{% if produit.dispo %}
		En stock (
		{{ produit.stock }}
		)
		{% else %}
		En Rupture
		{% endif %}
		<div class="pull-right clearfix">

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<button type="button" class="btn btn-default btn-xs"
				data-toggle="modal" data-target="#produitAdd{{ produit.id }}">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			{% endif %}
		</div>
	</div>
</div>
{% if is_granted('ROLE_ADMIN') %}
<ul>
	<li><a href="{{ path('produits_index') }}">Back to the list</a></li>
	<li><a href="{{ path('produits_edit', { 'id': produit.id }) }}">Edit</a>
	</li>
	<li>{{ form_start(delete_form) }} <input type="submit"
		value="Delete"> {{ form_end(delete_form) }}</li>
</ul>
{% endif %}
{% endblock %}
