{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>

<title>Le marché</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"
	media="screen">

<!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('index') }}">Le marché</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">
					<li>{% if paniers is defined and is_granted('IS_AUTHENTICATED_FULLY') %}<a
						data-toggle="modal" data-target="#panier">Panier </a> {% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') and not  is_granted('ROLE_ADMIN') %}
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Mon Espace Client <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a
								href="{{ path('users_edituser', { 'id': app.user.id }) }}">Mon
									Compte</a></li>

							<li><a href="{{ path("commandes_user") }}">Mes Commandes</a></li>
							<li><a href="{{ path("logout") }}">Deconnexions</a></li>
						</ul></li>

					{% elseif  not  is_granted('ROLE_ADMIN')%}

					<li><a href="{{ path('login') }}">Login</a></li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Dashboard <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('users_index')}}">Gérer les
									utilisateurs</a></li>

							<li><a href="{{ path("commandes_index") }}">Gérer les
									commandes</a></li>
							<li><a href="{{ path("paniers_index") }}">Gérer les
									panier</a></li>
							<li><a href="{{ path("produits_index") }}">Gérer les
									produits</a></li>
							<li><a href="{{ path("logout") }}">Deconnexions</a></li>
						</ul></li>
					{% endif %}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	{% block body %}
	{% endblock %}

	<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
	<script src="{{ asset('js/jquery.js') }}"></script>
	<!-- Include all JavaScripts, compiled by Assetic -->
	<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>