{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
	<div class="row">

		{% for produit in produits %}
		{% if produit.stock > 0 %}
		<div class="col-xs-6 col-sm-2 col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="{{ path('produits_show', { 'id': produit.id }) }}">{{ produit.nom }}</a>
					</h3>
				</div>
				<div class="panel-body center-block">
					<img class="img-responsive img-thumbnail center-block" alt="" src="{{ asset('bundles/test/img/') }}{{ produit.photo }}">
				</div>
				<div class="panel-footer clearfix">
					{{ produit.prix }}
					€
					{% if produit.dispo %}
					En stock (
					{{ produit.stock }}
					)
					{% else %}
					En Rupture
					{% endif %}
					<div class="pull-right clearfix">

						<button type="button" class="btn btn-default btn-xs"
							data-toggle="modal" data-target="#produitAdd{{ produit.id }}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<form action="{{ path('addtocard', {'id': produit.id})}}"
			method="post">
			<div class="modal fade" id="produitAdd{{ produit.id }}" tabindex="-1"
				role="dialog" aria-labelledby="produitAdd{{ produit.id }}Label">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="produitAdd{{ produit.id }}Label">
								Combien voulez-vous de
								{{ produit.nom }}
								?
							</h4>
						</div>
						<div class="modal-body">
							Quantité: <input type="number" name="many" min="1"
								max="{{ produit.stock }}" step="1" value="1">

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Fermer</button>
							<button type="submit" class="btn btn-primary">Ajouter</button>
						</div>
					</div>
				</div>
			</div>
		</form>


		{% endif %}
		{% endfor %}

	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="panier" tabindex="-1" role="dialog"
	aria-labelledby="panierLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="panierLabel">Panier</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Quantite</th>
								<th>Prix</th>
								<th>Dateajoutpanier</th>
								<th>Id</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for panier in paniers %}
							{% if  panier.commande is null %}

							<tr>
								<td><a
									href="{{ path('paniers_show', { 'id': panier.id }) }}">{{ panier.quantite }}</a></td>
								<td>{{ panier.prix }}</td>
								<td>{% if panier.dateajoutpanier %} {{ panier.dateajoutpanier|date('Y-m-d H:i:s') }}
									{% endif %}</td>
								<td>{{ panier.id }}</td>
								<td>
									<div class="pull-right clearfix">
										{{ del[panier.id]|raw }}

									</div>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"
					data-dismiss="modal">Fermer</button>
				<div class="form-inline">
					{{ commander|raw }}
				</div>
			</div>
		</div>
	</div>
	
	{% endblock %}