{% extends 'base.html.twig' %}

{% block body %}
<h1>Produits list</h1>
<div class="container-fluid">
	<div class="row">
		{% for produit in produits %}
		<div class="col-xs-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="{{ path('produits_show', { 'id': produit.id }) }}">{{ produit.nom }}</a>
					</h3>
				</div>
				<div class="panel-body">
					<img alt="" src="{{ produit.photo }}">
				</div>
				<div class="panel-footer">
					{{ produit.prix }}
					€
					{% if produit.dispo %}
					En stock (
					{{ produit.stock }}
					)
					{% else %}
					En Rupture
					{% endif %}
					{{ form_start(form) }}
					<div class="hidden">
						{{ form_widget(form.quantite, {'value' : "1"}) }}
						{{ form_widget(form.prix, {'value' : produit.prix}) }}
						{{ form_widget(form.user, {'value' : "1"}) }}
						{{ form_widget(form.dateajoutpanier) }}
						{{ form_widget(form.commande) }}
						{{ form_widget(form.produit, {'value': produit.id} ) }}

					</div>
					<input type="submit" value="Ajouter au panier" />
					{{ form_end(form) }}
				</div>
			</div>
		</div>




		{% endfor %}

	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Panier</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Quantite</th>
								<th>Prix</th>
								<th>Dateajoutpanier</th>
								<th>Id</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for panier in paniers %}
							<tr>
								<td><a
									href="{{ path('paniers_show', { 'id': panier.id }) }}">{{ panier.quantite }}</a></td>
								<td>{{ panier.prix }}</td>
								<td>{% if panier.dateajoutpanier %} {{ panier.dateajoutpanier|date('Y-m-d H:i:s') }}
									{% endif %}</td>
								<td>{{ panier.id }}</td>
								<td>
									<ul>
										<li><a
											href="{{ path('paniers_show', { 'id': panier.id }) }}">show</a>
										</li>
										<li><a
											href="{{ path('paniers_edit', { 'id': panier.id }) }}">edit</a>
										</li>
									</ul>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-primary">Commander</button>
			</div>
		</div>
	</div>

	{% endblock %}