{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paniers list</h1>

    <table>
        <thead>
            <tr>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Dateajoutpanier</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td><a href="{{ path('paniers_show', { 'id': panier.id }) }}">{{ panier.quantite }}</a></td>
                <td>{{ panier.prix }}</td>
                <td>{% if panier.dateajoutpanier %}{{ panier.dateajoutpanier|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ panier.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paniers_show', { 'id': panier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paniers_edit', { 'id': panier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paniers_new') }}">Create a new panier</a>
        </li>
    </ul>
{% endblock %}
